asgiref==3.8.1
automium==0.2.6
automium_web==0.1.1
blinker==1.9.0
click==8.1.8
colorama==0.4.6
datadispatch==1.0.0
Django==5.1.6
django-allauth==65.4.1
django-redis==5.4.0
dotenv==0.9.9
Flask==3.1.0
itsdangerous==2.2.0
Jinja2==3.1.5
legacy==0.1.7
MarkupSafe==3.0.2
psycopg2-binary==2.9.10
python-dotenv==1.0.1
redis==5.2.1
sqlparse==0.5.3
tasks==2.8.0
testcase==0.1.0
tzdata==2025.1
Werkzeug==3.1.3