{% extends 'mailing/base.html' %}
{% block content %}
<section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Получатель</h1>
            </div>
        </div>
    </section>

  <div class="container">
    <h2 class="my-4">Добавить/Редактировать получателя</h2>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
  </div>
{% endblock %}